<?xml version="1.0" encoding="UTF-8"?>
<launch>


  <param name="robot_description" textfile="$(find humrs_robot_description)/urdfs/snake.xacro"/>
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    output="screen" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true">
  </node>



</launch>
